*.o
*.bin
*.img
*.qcow2
*.Identifier
*.vmdk
.bash_history


x64BareBones/Kernel/test/test_buddy
x64BareBones/Kernel/test/test_bitmap
x64BareBones/Kernel/test/test_generics
x64BareBones/Kernel/test/test_mm